Ім'я:
<%=@profile.firstname%></h5>
<h5>Прізвище:
<%=@profile.lastname%></h5>
<h5>Вік:
<%=@profile.age %></h5>
<br>
<%= render 'profiles/userinfo' %>
<%= render 'tweets/new' %>
<%= render @profile.tweets%>


<%if user_signed_in? && current_user.id == @profile.id%>

<%=link_to "Редагувати профіль", edit_profile_path(@profile.id)%><br>
<%=link_to "Налаштування", edit_user_registration_path%><br>

<%end%>
