<div class="login-page" class="container">
  <div class="registration-form form">
    <h2><%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.file_field :avatar %>
    <div class="form-group field">
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"input", placeholder:"Nickname" %>
    </div>
    <div class="form-group field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:"Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group field">
      <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"New password", class:"input" %>
      <% if @minimum_password_length %>
      <% end %>
    </div>

    <div class="form-group field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm new password", class:"input" %>
    </div>

    <div class="form-group field">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Current password", class:"input" %>
    </div>

    <div class="form-group actions">
      <%= f.submit "Update", class:"btn btn-primary" %>
    </div>
    <% end %>

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-secondary" %></p>

    <%= link_to "Back", :back, class:"btn btn-secondary" %>
  </div>
</div>
