<br><%= gravatar_for @user, size: 50 %>
<br>
<%= link_to "Setting", edit_user_registration_path %>
<%= render 'users/stats' %>
<hr>
<%= render 'users/follow_form' %>
<% if @user.tweets.any? %>
  <h3>Tweets (<%= @user.tweets.count %>)</h3>
  <%= render @tweets %>
<% end %>
